/* 
---------------
Regola generale
---------------
*/

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* 
---------------
Header
---------------
*/

#logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

header {
    padding: 10px;
}

/* 
---------------
Main: container bottoni
---------------
*/

main {
    background-color: rgb(227, 227, 227);
    padding: 50px 0px 3px;
}

#box-containers {
    padding-bottom: 10px;
}
.container {
    max-width: 1100px;
    margin: 3px auto;
    background-color: rgb(255, 255, 255); 
    padding: 20px 70px 10px;
    border-radius: 3px;
}

.button {
/* all: unset
il button toglie lo scudo di formattazinoe 
del font arial di default e prende quello 
del body perchè diversamente non lo eredita */
    all: unset;
    text-align: center;
    border-radius: 4px;
    width: 90px;
    height: 35px;
/* cursore a pugnetto */
    cursor: pointer;
}

.add {
    background-color: rgb(48, 127, 217);
    color: white;
    border: none;
}

/* 
---------------
Main: container list
---------------
*/

.section {
    background-color: white;
    color: rgb(207, 207, 207);
    border-color: rgb(207, 207, 207);
    border-style: solid;

}

.element {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
/* ho messo 16px e non 18px per correzione ottica */
    line-height: 16px;
    font-size: 10px;
    margin: 10px 10px;
}

.check {
    border: 1.5px solid rgb(53, 177, 68);
    color: rgb(53, 177, 68);
}

.cross {
    border: 1.5px solid rgb(224, 65, 65);
    color: rgb(224, 65, 65);
}


ul {
    list-style: none;
    margin-top: 10px;
    margin-left: -50px;
}

.label{
    text-align: center;
    border-radius: 30px;
    width: 60px;
    height: 20px;
    font-size: 9px;
    margin-left: 5px;
    vertical-align: middle;
    color: white;
    border: none;
}

.editorial{
    background-color: rgb(85, 159, 244);
}

.goals {
    background-color: rgb(159, 107, 223);
}

.recruiting {
    background-color: rgb(70, 194, 142);
}

.mobile{
    background-color: rgb(233, 137, 35);
}

.website{
    background-color: rgb(195, 78, 152);
}

.sales{
    background-color: rgb(149, 188, 91);
}